@charset "utf-8";
/*修改mui样式*/
.mui-icon{
	color: hotpink;
}
.mui-segmented-control.mui-scroll-wrapper{
	height: 100px;
}
.mui-scroll-wrapper{
	top: auto;
}



 .mui-segmented-control.mui-scroll-wrapper .user-img-more .mui-control-item{
 	padding: 1px;
 }
.user-img-more .user-II-more{
	width: 80px;
	height: 80px;
	margin-right: 3px;
	border-radius: 3px;
	float: right;
}

.input-img{
	background: none;
	border: 1px  solid  #504747;
	width:72px;
	height: 72px;
	color: #fff;
}
.input-img-more{
	width: 72px;
	height: 72px;
	background: rgba(0,0,0,0.5);
	bottom: 15px;
	right: 5px;
	position: absolute;
	z-index: 9999999999;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item{
	padding: 0px;
	border: none !important;
}

.mui-table-view .mui-table-cell .mui-navigate-right span{
	font-size: 12px;
}

.heading{
	height: 95px;
	background:url(http://img03.sogoucdn.com/app/a/100520093/b467ec84f3d6ecb6-9d3e8d64734af3d3-24863a940603a3f831d477feebcbc1e4.jpg) no-repeat;
	background-size: 100%;
	position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.HeadPortrait{
	height: 100%;
}

.headPortraitImg{
	position: absolute;
	border-radius: 8px;
	left: 15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.HeadPortrait p{
	color: #fff;
	position: absolute;
	left: 105px;
}
.HeadPortrait p:nth-child(2){
	top: 10%;
	-webkit-transform: translateY(-10%);
	transform: translateY(-10%);
}
.HeadPortrait p:nth-child(3){
	top:50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.heading .mui-navigate-right::after{
	font-size: 2rem;
	color: #fff;
}
.usergin{
	position: relative;
	width: 100%;
	height: 85px;
	background: #FFFFFF;
	margin-bottom: 10px;
	display: -webkit-flex;
	display: flex;
}
.usergin::after{
	content:"";
	height: 1px;
	background-color: #c8c7cc;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	-webkit-transform: scaleY(.5);
	transform:scaleY(.5);
}
.userginL,.userginC,.userginR{
	flex: 1;
}
.userginL,.userginC,.userginR{
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
.userginNum{
	color: #000000;
	font-weight: 700;
	font-size: 18px;
}
.userginTxt{
	margin-top: 5px;
	color: #666666;
}
.userginCTxt{
	margin-top: 3px;
	font-size: 12px;
	color: #969696;
}