body{
	background-color: #fff;
}
header.mui-bar{
	background-color: #4CD964;
}
header h1.mui-title{
	color: #fff;
}
.close{
	line-height: 40px;
	font-size: 12px;
	
}

.mui-content-padded{
	margin-top: 25px;
	margin-bottom: 25px;	
}
.mui-input-row label{
	font-weight: 600;
}
